<div class="container-fluid">
  <h1>Welcome to Github</h1>

  <form (ngSubmit)="logIn()">
    <div class="form-group">
      <label for="Github-ID">Github ID</label>
      <input id="Github-ID" name="user" [(ngModel)]="githubUser" type="text" placeholder="Github Name" class="form-control" required>
      <br>
      <button type="submit" class="button">LogIn</button>
    </div>
  </form>
</div>

<!-- <p *ngIf="userdata">{{userdata.name}}</p> -->
<!-- <div class="" *ngIf="userdata">
  <p>{{userdata.login}}</p>
  <img src="{{userdata.avatar_url}}">
  <p>{{userdata.public_repos}}</p>
</div> -->


<div>
  <app-result></app-result>
</div>